.reccomendedRectangleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

h3.rectangleTitle {
    display: flex;
    color: #f5c518;
    font-size: 2rem;
    font-weight: 600;
    border-left-style: solid;
    border-color: white;
    padding-left: .5rem;
}