.nav-link:hover, .navbar-brand:hover {
    cursor: pointer;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.541);
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.logoutButton {
    margin-right: 1rem;
}

.greetingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navGreeting {
    color: white;
    font-size: 1.2rem;
}