.mainCardContainer {
    all: unset;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    min-height: 375px;
}

.cardCard {
    min-width: 185px;
    background-color: rgb(26 26 26) !important;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.cardImg {
    max-width: 185px;
    height: auto;
}