@font-face {
    font-family: 'Oswald';
    src: local('Oswald') url(./assets/Fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

body {
    background-color: black !important;
    min-height: 100%;
    
    font-family: 'Oswald', sans-serif !important;
}

@media screen and (min-width: 800px) {
    body {
        background-image: url('./assets/background.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}