.carousel-item img {
    height: 50vh;
    object-fit: contain;
    object-position: center;
}


.mainCarouselcontainer {
    text-align: center;
    min-height: 611px;
}

.carousel-inner{
    background-color: black;
}

.carousel-inner:hover {
    cursor: pointer;
}

.carousel {
    margin: 0 auto;
    width: 50%;
}

.carousel:hover {
    border: white;
    border: 1px;
}

.glowSign {
    max-width: 50%;
    min-width: 300px;
}

.homeTitle {
    color: white;
    font-size: clamp(2rem, 10vw, 7rem);
}